/* GENERAL */
*{
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}

/* <!-- HEADER --> */
header{
    position: absolute;
    z-index: 2021;
    left: 50%;
    transform: translateX(-50%);  
    padding: 40px 0; 
}

.heading a{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 5px;
    text-decoration: none;
    color:  white;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
    font-weight: 600;
}

header nav ul{
    border-bottom: solid 1px rgba(255,255,255,.2);
}

header nav ul li a{
    padding: 10px 20px !important;
    font-size: 1.8rem;
}

header nav ul li{
    position: relative;
}

header nav ul li.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    /* box-shadow: 0 0 20px 0 #fbbd61; */
}

header nav ul li::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    
}

header nav ul li:hover::after{
    width: 100%;
    transition: all 1s;
    box-shadow: 0 0 10px 0 #fbbd61;
}

@media screen and (max-width: 992px){
    header nav ul li a{
        font-size: 1rem;
    }
}

@media (max-width: 768px){
    .container {
    max-width: 800px;
    }
}

@media screen and (max-width: 776px){
    header nav ul li a{
        font-size: 0.8rem;
    }
}

/* <!-- END HEADER --> */


/* <!-- CAROUSEL --> */
.carousel-item .item1,.item2,.item3{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80rem;
    width: 100%;
}

.carousel-inner .item1{
    background-image: url(../img/hero-1.jpg);
}

.carousel-inner .item2{
    background-image: url(../img/hero-2.jpg);
}

.carousel-inner .item3{
    background-image: url(../img/hero-3.jpg);
}

.carousel-indicators{
    justify-content: flex-start;
}

.carousel-indicators li{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
}

.carousel-indicators li.active{
    background: white;
}


.carousel-inner .item1,.item2,.item3{
    display: flex;
    align-items: center;
}


.carousel-item .title{
    color: #fbbd61;
    font-size: 1.5rem;
}

.carousel-inner h1{
    font-size: 5rem;
    font-weight: 100;
}

.carousel-inner p{
    font-size: 1.8rem;
    margin-top: 10px;
    padding-right: 100  px;
    font-weight: 600;
    margin-bottom: 30px;
}

.carousel-inner .limit{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px;
    border: 2px solid white;
    border-radius: 50%;
    letter-spacing: 2px;
}

.btn-default{
    color: white !important;
    background: linear-gradient(to right,#fbbd61,#ec7532) no-repeat;
    background-size: cover;
    padding: 15px 40px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    border: none;
    margin-bottom: 8px;
    margin-left: 20px;
}

.btn-default::after{
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #ec7532;
    left: -15%;
    bottom: 0;
    transform: skewX(30deg); /*thuoc tinh nghien*/
    transition: all 0.5s;
}

@media screen and (max-width: 992px) {
    .carousel-content .title{
        font-size: 1rem;
    }
    
    .carousel-inner h1{
        font-size: 4rem;
    }
    
    .carousel-inner p{
        font-size: 1.8rem;
    }
    
    a.btn-default span{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 767px) {
    .carousel-content .title{
        font-size: 1rem;
    }
    
    .carousel-inner h1{
        font-size: 3.5rem;
    }
    
    a.btn-default span{
        font-size: 1rem;
    }
}




.btn-default i,.btn-default span{
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
}

.btn-default:hover::after{
    width: 140%;
}

/* <!-- END CAROUSEL --> */

/* <!-- NEW IN --> */
#newin{
    margin-top: 6rem;
    padding: 5% 0%;
    margin: 0 20%;
}

.title__newin{
    text-transform: uppercase;
    font-size: 3rem;
    color: #ec7532;
    padding-bottom: 20px;
    border-bottom: 1px solid #00000021;
    position: relative;
}

.title__newin::after{
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    position: absolute;
    bottom: 0;
}

.slick-prev:before, 
.slick-next:before {
    color: #ec7532;
}

.light{
    color: #fbbd61;
}

.poster{
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: none;
    
}

.poster img{
    width: 100%;
}

.poster .overlay__content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
    opacity: 0;
    margin: 0 auto;
    padding-top: 35%;
    transition: all 0.5s;
}

.overlay__content i{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding-right: 20px;
    padding-left: 30px;
    padding-top:    25px;
    padding-bottom: 25px;
    border: 1px solid white;
    border-radius:  50%;
    margin-bottom: 5%;

}

.overlay__content a{
    display: block;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0px;
}

.overlay__content p{
    font-size: 1.8rem;
}

.poster::after{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -115px;
    width: 0;
    height: 100%;
    content: '';
    transition: .5s;
    transform: skewX(30deg);
    opacity: 0.9;
    background-image: linear-gradient(to bottom,#fbbd61,#ec7532);
    z-index: 0;
}

.poster:hover::after{
    width: 200%;
    transition: all 1s;
}

.poster:hover .overlay__content{
    opacity: 1;
    transition: all 1s;
}

.poster:hover .overlay__content i:hover{
    font-size: 2.5rem;
    padding-right: 18px;
    padding-left: 28px;
    padding-top:    23px;
    padding-bottom: 23px;   
    transition: all 0.5s;
}


@media screen and (max-width: 1200px){
    
    .overlay__content a, .overlay__content p{
        font-size: 1.5rem;
    }
    
    .poster::after{
        left: -80px;
    }
    .overlay__content i{
        font-size: 2rem;
        padding-right: 15px;
        padding-left: 25px;
        padding-top:    20px;
        padding-bottom: 20px;     
    }

    .poster:hover .overlay__content i:hover{
        font-size: 2rem;
        padding-right: 13px;
        padding-left: 23px;
        padding-top:    18px;
        padding-bottom: 18px;   
        transition: all 0.5s;
    }

    .newin__content .row h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 992px){
    
    .title__newin{
        font-size: 1.8rem;
    }

    .overlay__content a, .overlay__content p{
        font-size: 1.5rem;
    }
    .overlay__content i{
        font-size: 1.5rem;
        padding-right: 12px;
        padding-left: 22px;
        padding-top:    17px;
        padding-bottom: 17px;     
    }

    .poster:hover .overlay__content i:hover{
        font-size: 1.5rem;
        padding-right: 8px;
        padding-left: 18px;
        padding-top:    13px;
        padding-bottom: 13px;   
        transition: all 0.5s;
    }

}

@media screen and (max-width: 776px){
    
    .overlay__content a, .overlay__content p{
        font-size: 1.2rem;
    }
    .overlay__content i{
        font-size: 1.2rem;
        padding-right: 12px;
        padding-left: 22px;
        padding-top:    17px;
        padding-bottom: 17px;     
    }

    .poster:hover .overlay__content i:hover{
        font-size: 1.2rem;
        padding-right: 3px;
        padding-left: 13px;
        padding-top:    8px;
        padding-bottom: 8px;   
        transition: all 0.5s;
    }
}

@media screen and (max-width: 767px){
    .title__newin{
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 576px){
    .title__newin{
        font-size: 1.2rem;
    }
    .title__newin::after{
        content: "";
        display: block;
        width: 20%;
    }
}

@media screen and (max-width: 500px){
    .poster::after{
        left: -200px;
    }

    .poster:hover::after{
        width: 400%;
        transition: all 1s;
    }
}

@media screen and (max-width: 479px){
    .overlay__content a, .overlay__content p{
        font-size: 1.8rem;
    }

    .overlay__content i{
        font-size: 2.5rem;
        padding-right: 15px;
        padding-left: 25px;
        padding-top:    20px;
        padding-bottom: 20px;  
        margin-bottom: 5%;   
    }
}

@media screen and (max-width: 479px){
    .overlay__content a, .overlay__content p{
        font-size: 1.4rem;
    }
}
/* <!-- END NEW IN --> */


/* <!-- SHOWTIMES --> */
#date ul{
    border-bottom: 1px solid #00000021;
    align-items: center;
}

.nav-pills .nav-item .nav-link{
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0 30px;
}

.nav-item .nav-link.active{
    color: #ec7532;
    position: relative;
    padding-bottom: 10px;
}

.nav-item a.nav-link.active::after{
    content: '';
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
}

#date .tab-pane-item {
    padding: 20px 0;
    border-top: 1px solid #00000021;
}

#date .tab-pane-item .row img{
    border-radius: 10px;
    max-width: 100%;
}

#date .tab-pane-item .row h3{
    font-size: 1.5rem;
    color: #ec7532;
}

#date .tab-pane-item .row h1{
    font-size: 2.5rem;
}

#date .tab-pane-item .row p{
    font-size: 1.5rem;
    color: #b8b8b8;
}

#date .tab-pane-item .row a{
    padding: 20px 0;
    color: #ec7532;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#date .tab-pane-item .row span{
    font-size: 1.5rem;
    padding-right: 5px;
}

#date .tab-pane-item .row .time{
    padding: 10px 20px;
    margin-right: 10px;
    background: rgba(128, 128, 128, 0.24);
    border-radius: 5px;
}

#date .tab-pane-item .row .full{
    background: #ececec;
    color: #b8b8b8;
}

#date .tab-pane-item .row .limit{
    text-align: center;
    padding: 10px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgb(48, 46, 46);
    color: white;
}


@media screen and (max-width: 1100px){
    .nav-pills .nav-item .nav-link{
        font-size: 2rem;
        padding: 0 20px;
    }
    
}

@media screen and (max-width: 992px){
    #date .tab-pane-item .row span{
        font-size: 1.2rem;
        margin-right: 0;
        padding-right: 0px;
    }
    
    #date .tab-pane-item .row .time{
        padding: 5px 10px;
        margin-right: 0px;
    }

}

@media screen and (max-width: 650px){
    #date .row span.time{
        margin-right: 0 !important;
        padding: 5px !important;
    }
    
}

@media screen and (max-width: 600px){
    .nav-pills .nav-item .nav-link{
        font-size: 1.8rem;
        padding: 0 15px;
    }
    #date ul{
        
        border-bottom: none;
        
    }
    #date ul li{
        display: inline;
        width: 100%;
    }

    .nav-item a.nav-link.active::after{
        content: '';
        width: 3px;
        height: 100%;
        background: linear-gradient(to bottom, #fbbd61, #ec7532);
    }

    .row .clean-row{
        clear: both;
        margin-top: 10px;    
    }

}

@media screen and (max-width: 300px){
    #date .tab-pane-item .row span{
        font-size: 0.8rem;
    }
    
    #date .tab-pane-item .row .time{
        padding: 2px 5px;
    }
}



/* <!-- END SHOWTIMES --> */


/* <!-- COMING-MOVIES --> */
#coming{
    position: relative;
    margin-top: 10%;
}

#coming .coming_slide .container {
    max-width: 100%;
    padding: 0 2%
}

.coming_slide .coming_slide_item1{
    background: url(../img/slide-3.png) no-repeat center black;
    background-size: cover;
    height: 100rem;    
}

.coming_slide .coming_slide_item2{
    background: url(../img/slide-5.png) no-repeat center black;
    background-size: cover;
    height: 100rem;
}

.coming_slide .coming_slide_item3{
    background: url(../img/slide-7.png) no-repeat center black;
    background-size: cover;
    height: 100rem;
}

.coming_slide .title{
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    padding-top: 10%;
    padding-bottom: 2%;
    border-bottom: 1px solid #00000021;
    position: relative;
}

.coming_slide .title::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 15%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #fbbd61, #ec7532);
}

.coming_slide .row{
    padding: 40px 0;
}

.coming_slide .row .left-part{
    color: white;
    padding: 40px 20px;
}

.row .left-part h3{
    color: #ec7532;
}

.row .left-part h1{
    font-size: 2.8rem;
}

.row .left-part .time-vote{
    padding: 15px 0;
    color: #b8b8b8;
}

.row .left-part .time-vote i{
    padding-right: 5px;
}

.row .left-part .time-vote span{
    font-size: 1.5rem;
}

.row .left-part p{
    font-size: 1.5rem;
    padding-right: 40px;
}

.row .left-part a{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ec7532;

}

.row .right-part{
    padding: 10px;
}

.row .right-part .trailer{
    position: relative;
}

.row .right-part img{
    max-width: 80%;
    height: auto;
}

.row .right-part .trailer a{
    position: absolute;
    left: 40%;
    bottom: 40%;
    padding: 25px;
    border-radius: 50%;
    border: 2px solid #ec7532;
    color: #ececec;
}

.row .right-part .trailer a:hover{
    padding: 20px;
    transition: all 0.5s;
}

.coming_slide_nav img{
    max-width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
} 

#coming .coming_slide_nav{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: black;
}

@media screen and (max-width: 1120px){  


    .coming_slide .row .left-part{
        padding: 20px 15px;
    }

    .row .left-part h3{
        font-size: 1.5rem;
    }

    .row .left-part h1{
        font-size: 2.2rem;
    }

    .row .left-part .time-vote i{
        padding-right: 2px;
    }
    
    .row .left-part .time-vote span{
        font-size: 1.2rem;
    }
    
    .row .left-part p{
        font-size: 1.2rem;
        padding-right: 35px;
    }
    
    .row .left-part a{
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ec7532;
    
    }

    .row .right-part .trailer > img{
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }
    

    .row .right-part .trailer a{
        position: absolute;
        left: 40%;
        bottom: 40%;
        padding: 15px;
        border-radius: 50%;
        border: 2px solid #ec7532;
        color: #ececec;
    }

    .row .right-part .trailer a:hover{
        padding: 12px;
    }

}

@media screen and (max-width: 990px){
    #coming .coming_slide .container{
        padding-top: 5%;
    }
}

@media screen and (max-width: 786px){  
    .coming_slide .row .left-part{
        padding: 0 15px;
    }

    .row .left-part h3{
        font-size: 1.2rem;
    }

    .row .left-part h1{
        font-size: 1.8rem;
    }

    .row .left-part .time-vote i{
        padding-right: 0;
    }
    
    .row .left-part .time-vote span{
        font-size: 1.2rem;
    }
    
    .row .left-part p{
        font-size: 1.2rem;
        padding-right: 0px;
    }
    
    .row .left-part a{
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ec7532;
    
    }

    .row .right-part .trailer > img{
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }
    

    .row .right-part .trailer a{
        position: absolute;
        left: 40%;
        bottom: 40%;
        padding: 10px;
        border-radius: 50%;
        border: 2px solid #ec7532;
        color: #ececec;
    }

    .row .right-part .trailer a:hover{
        padding: 7px;
    }

}

@media screen and (max-width: 600px){  
    .coming_slide .row .left-part{
        padding: 15px;
    }

    .coming_slide .row .clear{
        clear: both;
    }

    .row .right-part .trailer > img{
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }
    

}

@media screen and (max-width: 574px){
    #coming .coming_slide .container{
        padding-top: 0%;
    }
}

@media screen and (max-width: 400px){
    #coming .coming_slide .container{
        padding-top: 5%;
    }
}

/* <!-- END COMING-MOVIES --> */


/* <!-- CONTACT --> */

#contact{
    padding: 5% 30%;
    text-align: center
}

.contact__content p{
    font-size: 2.5rem;
}

.contact__content h1{
    font-size: 4rem;
    color: #ec7532;
}

@media screen and (max-width: 1250px){
    .contact__content p{
        font-size: 2rem;
    }
    
    .contact__content h1{
        font-size: 3.8rem;
        color: #ec7532;
    }
}

@media screen and (max-width: 992px){

    .contact__content p{
        font-size: 1.5rem;
    }
    
    .contact__content h1{
        font-size: 3.2rem;
        color: #ec7532;
    }
}


@media screen and (max-width: 776px){

    .contact__content p{
        font-size: 1rem;
    }
    
    .contact__content h1{
        font-size: 2.8rem;
        color: #ec7532;
    }
}

@media screen and (max-width: 570px){
    #contact{
        padding: 5% 10%;
        text-align: center
    }    

    .contact__content p{
        font-size: 1rem;
    }
    
    .contact__content h1{
        font-size: 2.5rem;
        color: #ec7532;
    }
}
/* <!-- END CONTACT --> */


/* <!-- FOOTER --> */
footer{
    background-color: black;
    padding: 80px 0;
}

footer .container > span{
    color: white;
    font-size: 1.5rem;
}

footer .container > a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover{
    color: #ec7532;
    text-decoration: none;
    transition:  all 1s;
}

footer .row{
    border-bottom: 1px solid #5c5757;
    padding-bottom: 80px;
}

footer .row p{
    color: #ec7532;
    font-size: 2rem;
}

footer .row a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

footer .row a i{
    color: #817c7c;
    padding-right: 10px;
}

footer .row a span{
    font-size: 1.5rem;
}

footer .row a:hover, footer .row a:hover i{
    color: #fbbd61;
    transition: all 1s;
}

@media screen and (max-width: 767px){
    footer .clear{
        clear: both;
    }
}

@media screen and (max-width: 992px){
    footer .row p{
        color: #ec7532;
        font-size:1.5rem;
    }
}


/* <!-- END FOOTER --> */